{{!-- HTML for the trigger --}}
<button class="js-modal-trigger button is-success new" data-target="create-post">
    Create a new Post
</button>

{{#each plainPosts as |post|}}
<a href="/posts/{{post.id}}">
    <div class="card posts">
        <h3 class="title is-3 post-title">{{post.post_title}}</h3>
        <div class="post-info">
            <h3 class="card-content date">Posted on: {{post.post_date}}</h3>
            <h3 class="card-content author">Written by: {{post.post_author}}</h3>
        </div>
    </div>
</a>
{{/each}}


<div id="create-post" class="modal fade">
    <div class="modal-background">
        <div class="modal-content">
            <div class="modal-card">
                <div class="modal-card-body">
                    <h3 class="title is-3" style="text-align: center;"> ⬇️ Type your new post below! ⬇️ </h3>
                    <form>
                        <div class="input-group modal-inputs">
                            <label for="post-title-input">Title for post:</label>
                            <input id="post-title-input" class="form-input" type="text">
                        </div>
                        <div class="input-group modal-inputs">
                            <label for="post-content-input">Post content:</label>
                            <textarea id="post-content-input" class="form-input" type="text"></textarea>
                        </div>
                        <div style="display: flex; justify-content: space-around;">
                            <button class="button is-success" type="submit" id="submit-post">Post!</button>
                            <button class="close-modal button is-danger" type="submit" id="close-modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script src="/js/create.js"></script>